@{
    ViewData["Title"] = "Error";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">Transaction has been tampered.</h2>
    </div>
</div>